@page "/"

<PageTitle>Vaccinated - Home</PageTitle>

<h1 class="text-3xl font-bold text-gray-800">Home</h1>

<span class="oi oi-moon absolute top-4 right-5 text-2xl hover:text-blue-900 transition-colors duration-500"></span>
<span
    class="oi oi-sun absolute top-4 right-5 text-2xl hover:text-amber-600 transition-colors duration-500 hidden"></span>