@page "/"

<PageTitle>Vaccinated - Home</PageTitle>

<h1 class="mt-10 ml-2 text-3xl font-black text-gray-600">Home</h1>
<hr class="border-gray-300">

<span class="oi oi-moon absolute top-4 right-5 text-2xl hover:text-blue-900 transition-colors duration-500"></span>
<span
    class="oi oi-sun absolute top-4 right-5 text-2xl hover:text-amber-600 transition-colors duration-500 hidden"></span>

<p class="m-10"><span class="italic">Log</span> and <span class="italic">Retrieve</span> data about vaccinated people in
    <b>Dominican Republic</b>.
</p>
