@page "/listadoVacunas"


<h1>Listado por vacunas</h1>
@*     @if(marcas_vacunas == null){

    }else{
@foreach(var i in marcas_vacunas){


 <h1>  
     @i.provin -> @i.vacunados
</h1>
    
}
}
 *@

@code{
dynamic marcas_vacunas = new vaccinationsContext()
    .Vaccinateds.GroupBy(s => s.Vaccine).Select(s => new{provin= s.Key, vacunados = s.Count()});
}