@page "/listadoProvincias"

<h1>Listado por provincias</h1>

 @*    @if(Vacunas_por_provincias == null){

    }else{
@foreach(var i in Vacunas_por_provincias){


 <h1>  
     @i.provin -> @i.vacunados
</h1>
    
}
}
 *@

@code{
dynamic Vacunas_por_provincias = new vaccinationsContext()
    .Vaccinateds.GroupBy(s => s.Province).Select(s => new{provin= s.Key, vacunados = s.Count()});
}