@page "/listadoSignos"

<h1>Listado por signo</h1>

@* @if(signo == null){

    }else{
@foreach(var i in signo){


 <h1>  
     @i.signos -> @i.vacunados
</h1>
    
}
} *@

@code{
dynamic signo = new vaccinationsContext()
    .Vaccinateds.GroupBy(s => s.ZodiacSign).Select(s => new{signos= s.Key, vacunados = s.Count()});
}