<article class="m-5 grid grid-cols-3 gap-5">
    @for (int i = 0; i < 22; i++)
    {
        <section class="bg-white rounded-md shadow-md min-h-[188px] min-w-[100px] max-w-[276px] max-h-[276px]">
            <h3>Title</h3>
        </section>
    }
</article>